<li>
    {{burger_name}}


    <button class="change-status waves-effect red accent-4 waves-light btn" data-id="{{id}}"
        data-newStatus="{{devoure}}">
        {{#if devoure}}DEVOUR ME!{{/if}}
    </button>

</li>